<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">

    <Appenders>
<!--        Console outputs during tests run  -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%-5level] %c{1} - %msg%n"/>
        </Console>

<!--        Saves to file  in test-output folder -->
        <File name="FileLogger"
              fileName="test-output/logs/automation.log"
              append="false">       <!-- file resets each run -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%-5level] %c{1} - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>

</Configuration>